extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td= formatDate(user.createdAt)
          td
            a(href=route('editUser', { id: user.id }))= t('views.users.actions.edit')
            form(action=route('deleteUser', { id: user.id }), method='post')
              input(name='_method', type='hidden', value='delete')
              input.btn.btn-link(type='submit', value= t('views.users.actions.delete'))