extends ../layouts/application.pug

block header
  = t('layouts.application.users')

block content
  table.table.table-hover
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.action')
    tbody
      each user in users
        tr
          td= user.id
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td= formatDate(user.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=route('editUser', { id: user.id }))= t('views.users.actions.edit')
              +formFor()(action=route('deleteUser', { id: user.id }) method='post')
                input(name='_method' type='hidden' value='delete')
                +submit(user)(class="btn-danger" value=t('views.users.actions.delete'))
            