//- - const getInputName = (property) => `data[${property}]`
//- - const getInputId = (property) => `data_${property}`

//- mixin formFor(entity = null)
//-   form&attributes(attributes)
//-     block

//- mixin input(entity, propertyName, errors = {})
//-   - propertyErrors = _.get(errors, propertyName)
//-   - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
//-   - inputId = getInputId(propertyName)
//-   .mb-3(class=(errors[propertyName] && 'has-danger'))
//-     label(
//-       for= inputId
//-     )= propertyName
//-     input(
//-       id= inputId
//-       name=getInputName(propertyName)
//-       class=classLine
//-       value=_.get(entity, propertyName, '')
//-     )&attributes(attributes)
//-     if !_.isEmpty(propertyErrors)
//-       .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`
- const mappingErrorMessage = { name: t('views.errors.firstName'), firstName: t('views.errors.firstName'), lastName: t('views.errors.lastName'), password: t('views.errors.password'), email: t('views.errors.email'), };
mixin formFor(entity = null)
  form&attributes(attributes)
    block
mixin input(entity, propertyName, label, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(errors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .form-group(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= label
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin select(options, propertyName, selected = {}, errors = {}, label, multiple)
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)

  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label.mb-1(
      for= inputId
    )= label

    select(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      multiple=multiple
    )&attributes(attributes)
      if !multiple 
        option
      each option in options
        - const name = option.name ? option.name : `${option.firstName} ${option.lastName}`
        - const isSelected = selected[propertyName]?.includes?.(option.id)
        option(value=option.id selected=isSelected)=name

    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin filterSelect(options = [], propertyName, selected = {}, label)
  - inputId = getInputId(propertyName)

  .input-group.mb-3
    label.input-group-text(for=inputId)=label

    select.form-select(
      id= inputId
      name=getInputName(propertyName)
    )&attributes(attributes)
      option
      each option in options
        - const name = option.name ? option.name : `${option.firstName} ${option.lastName}`
        - const isSelected = selected[propertyName]?.includes?.(option.id)
        option(value=option.id selected=isSelected)=name


mixin checkbox(propertyName, selected = {}, label)
  - inputId = getInputId(propertyName)
  - isChecked = selected[propertyName]

  .mb-3.form-check
    input(
      id=inputId 
      name=getInputName(propertyName)
      class='form-check-input' 
      type='checkbox' 
      checked=isChecked
    )
    label.form-check-label(for=inputId)=label

mixin textarea(entity, propertyName, labelText)
  - classLine = 'form-control'
  - inputId = getInputId(propertyName)
  .mb-3
    label(
      for= inputId
    )= labelText
    textarea(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
    )= _.get(entity, propertyName, '')

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
